#button__edit {
  padding-top: 6%;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    color:#0000EE;
  }
}

#confirm__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  &__resume {
    display: flex;
    height: 550px;
    width: 1000px;
    background-color: white;
    margin: 6% 20%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    z-index: 10;

  }

  &__confirm {
    padding: 16% 2%;
    width: 600px;

  }
}