.container__image {
  
}
.thumbnail {
  width: 200px;
  height: 200px;
}
#input__file {
  background-color: transparent;
  border: none;
}

input[type='file'] {
  display: none
}
.image__container {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.MuiSlider-markLabel {
  color: white !important;
}