.container {
  &__register {
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: white;
    margin: 6% 20%;
    border-radius: 10px;
    // justify-content: center;
    z-index: 10;

  }
 &__form {
  //  margin-top: 6%;
   width: 600px;
 }
  
}
.vertical__row {
  margin-top: 1%;
  height: 80%;
  width: 1px;
  background-color: gray;

}
