p {
  padding-right: 30px;
}
.section__field {
  display: flex;
  align-items: center;
 
}
.name {
  padding-top: 44px;
}

.container {
  &__form {
    
    div {
      margin-left: 5%;
    }
   
    select {
      width: 200px;
      height: 24px;
      background-color: #e8f0fe;
      border-radius: 4px;
      border: 1px solid black;
      margin: 5px;
    }
   
    
    
    input {
      // width: 200px;
      height: 20px;
      color: black;
      background-color: #e8f0fe;
      border-radius: 6px;
      border: 1px solid black;
      // border: none;
      margin: 5px;
    }
    
  }
  &__checkbox {
    display: flex;
    align-items: center;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}
#button {
  margin-top: 8%;
  border: none;
  background-color: #449DD1;
  color: black;
  font-size: 20px;
  border-radius: 30px;
  width: 30%;
  height: 40px;
  letter-spacing: 1px;
  &:hover {
    color: white;

    background-color: #192BC2;
    
    cursor: pointer;
    border-radius: 30px;
  }
}
