.box__interest {
  display: flex;
  margin: 0% !important;
}

.interest { 
 padding: 5px;
 border-radius: 10px;
  background-color: rgb(194, 192, 192);
  &:hover {
    cursor: pointer;
    border: 1px solid red;
  }
  &::after{
    color: red;
    margin-left: 4px;
    // margin-bottom: 10px !important;
    content: 'x';
  }
}