body {
  background-color: #25172A;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tsparticles-canvas-el {
  z-index: -1;
  position: fixed;
}

main {
  height: 100vh;
}

button {
  font-size: 48px;
  color: white;
  border: none;
  background-color: transparent;
  width: 100px;
  height: 40px;
}